extends ../layouts/common
block content
    .container
        .card.add-form
            .card-header 
                h5 Sửa thông tin người dùng
            .card-body
                form.addProdForm(action="/users/" + user.id + "/edit", method="POST")
                    div
                        label Tên
                            input.form-control(type="text", name="name", value=user.name)
                    div
                        label Email
                            input.form-control(type="text", name="email", value=user.email)
                    div
                        label Mật khẩu
                            input.form-control(type="text", name="password", value=user.password)
                    div
                        label Địa chỉ
                            input.form-control(type="text", name="address", value=user.address)
                    div
                        label Số điện thoại
                            input.form-control(type="text", name="phone", value=user.phone)
                    button.btn.btn-info.mt-2 Cập nhật
            .card-footer 