extends ../layouts/common
block content
    p.title Quản lý khách hàng
    .account-content
        a(href="/users/create") Tạo tài khoản mới
        form.d-flex(action="/users/search", method="GET")
            input.form-control(type="text" name='q' placeholder="Tên người dùng" style="width: 20%; ")
            button.btn.btn-info(type='submit') Tìm kiếm
        table.table.table-striped.table-bordered(style='width:100%')
            thead
                tr
                    th Mã khách hàng
                    th Tên khách hàng
                    th Email
                    //- th Mật khẩu
                    th Địa chỉ
                    th Điện thoại
                    th Các thao tác
            tbody
                each user in users
                    tr
                        td= user.id.slice(0, 6) + '...'
                        td= user.name
                        td= user.email.slice(0, 6) + '...'
                        //- td= user.password
                        td= user.address.slice(0, 25) + '...'
                        td= user.phone
                        td
                            a.btn.btn-success.mr-1(href="/users/" + user.id, role='button') Xem
                            a.btn.btn-warning.mr-1(href="/users/" + user.id + "/edit", role='button') Sửa
                            a.btn.btn-danger.mr-1(href="/users/" + user.id + "/delete", role='button') Xóa
        .container(style="position: absolute; top: 90%")
            - var page = 1;
            ul.pagination(style="justify-content: center;")
                while page < pages
                    li.page-item
                        a.page-link(href='/users?page='+ page)= page++