extends ../layouts/common
block content

    
    table.table(style="width: 80%; margin: 30px auto")
        thead
            tr
                th Thuộc tính
                th Giá trị
        tbody
            tr
                td ID
                td= product.id
            tr
                td Tên sản phẩm
                td= product.name
            tr
                td Ảnh
                td
                    img(src=product.imgUrl width="40px")
            tr
                td Mô tả
                td= product.description
            tr
                td Giá
                td= product.price
            tr
                td Số lượng
                td= product.quantity
            tr 
                td Danh mục
                td= product.cate_id